.player-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.125rem, 1fr));
    grid-template-rows: auto;
    margin: 2rem 1rem;
}

.center {
    text-align: center;
}

.pagination-container {
    margin-top: 2rem;
}